################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/NNN/FileContentIndex
/AdventureWorks2022/.vs/AdventureWorks2022
/.vs/NNN/v17/TestStore/0
