################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/.vs/NNN/FileContentIndex
/AdventureWorks2022/.vs
/AdventureWorks2022/.vs/AdventureWorks2022
/.vs/NNN/v17/TestStore/0
/AdventureWorks2022/AdventureWorks2022/AdventureWorks2022.jfm
/AdventureWorks2022/AdventureWorks2022/AdventureWorks2022.dbmdl
/AdventureWorks2022/.vs/AdventureWorks2022/FileContentIndex/b6ed2ae8-206c-4672-a497-269937ef53de.vsidx
/.vs/NNN/v17/.wsuo
